@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am currently enrolled at Ohio University and plan to graduate this May with my major being Management Information Systems and with a minor in Business Analytics. I am currently a captain on the club lacrosse team here at OU. While growing up in Worthington Ohio, I have always have had a great passion to work with computers and trying to figure out how certain websites or games are built and this brought me in the MIS field.  </p>
