@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" background-color:darkgreen">
    <h1 style="color: lightgray;">MIS4200</h1>
    <p class="lead" style="color: lightgray;">MIS 4200 is a course at Ohio University that allows the students to work hands on with clients.</p>
    <p><a href="https://catalogs.ohio.edu/preview_course_nopop.php?catoid=42&coid=191859" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            Ohio university was founded in 1804, only twenty-four years later Ohio University graduated the thrid black man in the United States.
        </p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a class="btn" href="https://www.ohio.edu"><i class="fa fa-folder"></i></a>
        <p><a class="btn btn-info" href="https://www.ohio.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is MIS?</h2>
        <p>MIS stands for Management Information System. MIS is the study of people, technology, organizations, and relationship among them.</p>
        <h2>Links to sample models</h2>
        @Html.ActionLink("Customers", "index", "Customers") <br />
        @Html.ActionLink("Pets", "index", "Pets") <br />
        @Html.ActionLink("Vets", "index", "Vets") <br />
        @Html.ActionLink("Visit Details", "index", "VisitDetails")
    </div>
    <div class="col-md-4">
        <h2>Popular MIS jobs</h2>
        <p>Some popular MIS jobs are the fowllowing: Computer Systems Analyst, SoftWare Developer, Web Developer, and Information Security Manager.</p>
        <a class="btn" href="https://www.bestmastersdegrees.com/lists/5-great-mis-careers"><i class="fa fa-folder"></i></a>
    </div>
</div>  