@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">MIS 4200 is a course at Ohio University that allows the students to work hands on with clients.</p>
    <p><a href="https://catalogs.ohio.edu/preview_course_nopop.php?catoid=42&coid=191859" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            Ohio university was founded in 1804, only twenty-four years later Ohio University graduated the thrid black man in the United States.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is MIS?</h2>
        <p>MIS stands for Management Information System. MIS is the study of people, technology, organizations, and relationship among them.</p>
        <h2>Links to sample models</h2>
        @Html.ActionLink("Customers", "index", "Customers") <br />
        @Html.ActionLink("Pets", "index", "Pets") <br />
        @Html.ActionLink("Vets", "index", "Vets") <br />
        @Html.ActionLink("Visit Details", "index", "VisitDetails")
    </div>
    <div class="col-md-4">
        <h2>Popular MIS jobs</h2>
        <p>Some popular MIS jobs are the fowllowing: Database Administrator, Web Developer, Network Administrator, and Business Analyst.</p>
        
    </div>
</div>  